Repository YAPP-Github/26th-Web-Team-3-BE, pull requests merged in 2025-08, with the labels that each got.

#53 feat(#52): 메일 전송 세팅
  build.gradle.kts
  src/main/kotlin/com/yapp/lettie/api/ApiPath.kt
  src/main/kotlin/com/yapp/lettie/api/email/controller/EmailController.kt
  src/main/kotlin/com/yapp/lettie/api/email/service/EmailService.kt
  src/main/kotlin/com/yapp/lettie/config/EmailConfig.kt
  src/main/resources/application.yml
Labels: 🔥 feat

#63 feat(#62): 타임캡슐 리스트 조회 inviteCode 응답 추가
  src/main/kotlin/com/yapp/lettie/api/timecapsule/controller/TimeCapsuleDetailApiController.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/controller/response/TimeCapsuleSummaryResponse.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/controller/swagger/TimeCapsuleDetailSwagger.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleDetailService.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/dto/TimeCapsuleSummariesDto.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/dto/TimeCapsuleSummaryDto.kt
  src/main/resources/db/migration/V20250804_1__change_batch.sql
  src/main/resources/static/favicon.ico
  src/test/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleDetailServiceTest.kt
Labels: 🔥 feat

#61 feat(#50): 타임캡슐 검색 기능 구현
  build.gradle.kts
  src/main/kotlin/com/yapp/lettie/api/ApiPath.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/controller/TimeCapsuleDetailApiController.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/controller/swagger/TimeCapsuleDetailSwagger.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleDetailService.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/dto/ExploreTimeCapsulesPayload.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/dto/SearchTimeCapsulesPayload.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/reader/TimeCapsuleReader.kt
  src/main/kotlin/com/yapp/lettie/common/exception/ApiExceptionHandler.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleRepository.kt
  src/test/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleDetailServiceTest.kt
Labels: 🔥 feat

#75 refactor(#73): beadObject .mp4 -> .png 확장자 변경
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleDetailService.kt
  src/test/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleDetailServiceTest.kt
Labels: 🪜 refactor

#74 feat(#66): 탐색과 검색에 정적인 정렬 추가
  src/main/kotlin/com/yapp/lettie/api/timecapsule/controller/swagger/TimeCapsuleDetailSwagger.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/reader/TimeCapsuleReader.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleCustomerRepository.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleCustomerRepositoryImpl.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleRepository.kt
Labels: 🔥 feat

#79 infra(#8): 도메인 적용 및 https 적용
  deployment/develop/nginx/nginx-blue.conf
  deployment/develop/nginx/nginx-green.conf
  src/main/kotlin/com/yapp/lettie/config/SecurityConfig.kt
Labels: 🏘️ infra

#80 feat(#72): 잘못된 설정 변경
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
Labels: 🔥 feat

#81 feat(#67): 첫 오픈 기능 구현
  src/main/kotlin/com/yapp/lettie/api/timecapsule/controller/response/TimeCapsuleDetailResponse.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleDetailService.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/dto/TimeCapsuleDetailDto.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/reader/TimeCapsuleUserReader.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/writer/TimeCapsuleUserWriter.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/entity/TimeCapsuleUser.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleUserRepository.kt
  src/test/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleDetailServiceTest.kt
Labels: 🔥 feat

#94 refactor(#76): 편지 0통인 경우 이메일 발송 방어 및 이메일 배너 적용
  src/main/kotlin/com/yapp/lettie/api/email/service/EmailService.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/batch/TimeCapsuleTasklet.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/reader/TimeCapsuleUserReader.kt
  src/main/kotlin/com/yapp/lettie/config/SecurityConfig.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/dto/RecipientRow.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleCustomRepository.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleCustomRepositoryImpl.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleRepository.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleUserCustomRepository.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleUserCustomRepositoryImpl.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleUserRepository.kt
  src/main/resources/email/email-banner.jpg
  src/test/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleDetailServiceTest.kt
Labels: 🪜 refactor, 🧹 chore

#100 infra(#96): dev -> prod 환경변수 지정
  Dockerfile
  deployment/prod/docker-compose/docker-compose.green.yml
Labels: 🏘️ infra

#104 infra(#103): prod 환경 인프라 구축
  .github/workflows/cicd-workflow-prod.yml
  deployment/prod/docker-compose/docker-compose.blue.yml
  deployment/prod/docker-compose/docker-compose.green.yml
  deployment/prod/nginx/nginx-blue.conf
  deployment/prod/nginx/nginx-green.conf
  deployment/prod/switch-blue-green.sh
  src/main/resources/application-prod.yml
Labels: 🏘️ infra

#106 infra(#105): 개발계 도메인 cors 허용
  src/main/kotlin/com/yapp/lettie/config/SecurityConfig.kt
Labels: 🏘️ infra

#102 infra(#101): prod 환경 flyway enable
  src/main/kotlin/com/yapp/lettie/config/SwaggerConfig.kt
  src/main/resources/application-prod.yml
  src/main/resources/logback-spring.xml
Labels: 🏘️ infra

#111 feat(#108): 타임캡슐 나가기 API 생성 및 Elastic APM 연동
  deployment/prod/docker-compose/docker-compose.blue.yml
  deployment/prod/docker-compose/docker-compose.green.yml
  src/main/kotlin/com/yapp/lettie/api/ApiPath.kt
  src/main/kotlin/com/yapp/lettie/api/letter/service/LetterService.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/controller/TimeCapsuleApiController.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/controller/response/TimeCapsuleDetailResponse.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/controller/swagger/TimeCapsuleSwagger.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleDetailService.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleService.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/dto/TimeCapsuleDetailDto.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/reader/TimeCapsuleUserReader.kt
  src/main/kotlin/com/yapp/lettie/common/error/ErrorMessages.kt
  src/main/kotlin/com/yapp/lettie/config/SwaggerConfig.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/entity/TimeCapsuleUser.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/entity/vo/TimeCapsuleUserStatus.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleCustomRepositoryImpl.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleUserCustomRepositoryImpl.kt
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleUserRepository.kt
  src/main/resources/db/migration/V20250819_1__add_time_capsule_user_status.sql
  src/test/kotlin/com/yapp/lettie/api/letter/service/LetterServiceTest.kt
  src/test/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleDetailServiceTest.kt
  src/test/kotlin/com/yapp/lettie/api/timecapsule/service/TimeCapsuleServiceTest.kt
Labels: 🪜 refactor, 🧹 chore, 🔥 feat

#117 fix(#115): 이메일 배너 이미지 CID 방식 -> s3 url로 업로드 변경
  src/main/kotlin/com/yapp/lettie/api/email/controller/EmailController.kt
  src/main/kotlin/com/yapp/lettie/api/email/service/EmailService.kt
  src/main/kotlin/com/yapp/lettie/api/timecapsule/service/batch/TimeCapsuleTasklet.kt
  src/main/kotlin/com/yapp/lettie/common/controller/ExceptionTestController.kt
  src/main/resources/email/email-banner.jpg
Labels: 🪜 refactor, 🐞 bug

#122 fix(#121): 내가 만든 캡슐 필터링 조건식 변경
  src/main/kotlin/com/yapp/lettie/domain/timecapsule/repository/TimeCapsuleCustomRepositoryImpl.kt
Labels: 🐞 bug
